 *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
    font-family: "Fira Code", monospace;
    color: white;
    background-color: #191919;
}

        /* Cabeçalho */
.cabecalho {
    background-image: url(CodificadorMaskarado.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 55px;
    width: 100%;
    min-height: 100vh;
    
    /* Organiza os textos um embaixo do outro e centraliza na tela */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* Estilo para o Título Principal */
.cabecalho h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 4.5rem; /* Deixa o título grande e imponente */
    text-transform: uppercase; /* Deixa tudo em maiúsculo */
    letter-spacing: 2px; /* Espaçamento entre as letras */
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8); /* Sombra para dar leitura sobre a imagem */
    margin-top: -18px;
}

/* Estilo para o Subtítulo */
.baixo-header p {
    font-size: 2.2rem;
    margin-bottom: 40px; /* Espaço entre o subtítulo e o menu de links */
    overflow: hidden;
    flex-wrap: wrap;
}

/* Estilo rápido para o menu de links não ficar bagunçado */
.navegacao ul {
    list-style: none;
    display: flex;
    gap: 200px;
}

.navegacao a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5); /* Fundo preto transparente nos links */
    padding: 20px 38px;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 1.3rem;
}

.navegacao a:hover {
    background: #ff0055; /* Cor de destaque ao passar o mouse (mude se quiser) */
}

.sobre p{
display: flex;
}
.sobre h2{
text-align: center;
}
.sobre p{
     justify-content: center;
}
.selfie{
    display: flex;
    justify-content: center;
}
.habilidades {
    text-align: center;
}